@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Inter:wght@400;600&display=swap");

body {
  background-color: #ffffff;
  min-width: 390px;
  max-width: 960px;
  position: relative;
  margin: auto;
}

.container {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-family: "Inter", sans-serif;
  /* border: 1px solid black; */
}

.super-nav {
  margin-top: 2.5em;
}

.e-nav {
  display: flex;
  justify-content: space-around;
}

.title {
  font-weight: bold;
  text-align: left;
  font-size: 1em;
  line-height: 1.1em;
}

.date {
  text-align: left;
  font-size: 0.875em;
  line-height: 1.1em;
}

.description {
  color: black;
  text-align: left;
  font-size: 0.875em;
  line-height: 1.5em;
}

.e-month {
  text-align: left;
  font-size: 2em;
}

.e-banner {
  max-width: 100%;
  height: auto;
  width: auto;
}

#topText {
  font-weight: bolder;
  color: #4b0a80;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  position: absolute;
  text-align: left;
  border-width: 5px 0 0 5px;
}

.RSVP {
  color: #ffffff;
  background-color: #985aca;
  padding: 10px 5px;
  border-radius: 10px;
  position: relative;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
}

.navBar {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 200;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.navBar :hover {
  border-bottom: solid 4px #a465d6;
}

#mail,
#mail::after {
  display: inline-flex;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
  color: purple;
  /* outline: 6px solid #4B0A80; */
}
#mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 19px;
  border-radius: 2px;
  margin: 4px 4px 0 0;
}
#mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 5px;
  left: 0;
  color: white;
  outline: 2px solid #4b0a80;
}

.subBar {
  color: #ffffff;
  background-color: #4c0a81;
  padding: 0.75em 0.6em;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  width: 16em;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: bold;
}

.e-footer {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

/* .months {
    margin: 4px, 4px;
    padding: 4px;
    width: 300px;
    overflow: auto;
    white-space: nowrap;    
} */

/* Horizontal Navbar */
