@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=Inter:wght@400;600&display=swap");

body {
  background-color: #ffffff;
  min-width: 390px;
  max-width: 960px;
  position: relative;
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
}

.firstName {
  display: block;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-weight: 600px;
  font-size: 1em;
}

.firstInputName {
  display: block;
  position: relative;
  padding: 4px;
  border-radius: 7.5px;
  border: #f3f3f3;
  background-color: #f3f3f3;
  width: 320px;
  width: 80%;
  height: 35px;
  font-size: 1em;
}

.name-email-error {
  color: #ff2e2e;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.3em;
}

.lastName {
  display: block;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-weight: 600px;
  font-size: 1em;
}

.lastInputName {
  display: block;
  position: relative;
  padding: 4px;
  border-radius: 7.5px;
  border: #f3f3f3;
  background-color: #f3f3f3;
  width: 320px;
  width: 80%;
  height: 35px;
  font-size: 1em;
}

.email {
  display: block;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-weight: 600px;
  font-size: 1em;
}

.emailInput {
  display: block;
  position: relative;
  padding: 4px;
  border-radius: 7.5px;
  border: #f3f3f3;
  background-color: #f3f3f3;
  width: 320px;
  width: 80%;
  height: 35px;
  font-size: 1em;
}

.newsLetter {
  display: block;
  position: relative;
  padding: 20px 0px 0px 0px;
  text-align: left;
  font-size: 1.5em;
}

.interested {
  text-align: left;
  font-family: "Inter", sans-serif;
  display: block;
  font-weight: 400;
}

.interested-qn {
  margin-bottom: 0.2em;
}

.checkbox {
  padding: 10px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
}

.submitForm {
  background-color: #4c0a81;
  color: #ffffff;
  position: relative;
  margin: 14px 10px 10px 35%;
  padding: 10px 18px 10px 18px;
  border-radius: 10px;
  font-size: 1em;
}

.topInfo {
  display: block;
  text-align: left;
  font-family: "Inter", sans-serif;
}
