body {
    background-color: #FFFFFF; 
    min-width: 390px;
    max-width: 960px;
    position: relative;
    margin: auto;

}

.container {
    text-align: center;
    width: 50%;
    margin: auto;
    border: solid 1px black;
    padding: 10px;
}

.title {
    font-weight: bold;
    text-align: left;
}

.date {
    text-align: left;
}

.description {
    color: blue;
    text-align: left;
}

#topText {
    font-weight: bolder;
    color: #4B0A80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    position: absolute;
    text-align: left;
    border-width: 5px 0 0 5px;
}

#rectangle {
    width: 200px;
    height: 100px;
    background-color: lightgrey;
    margin: 0 0 0 125px;
}

.RSVP {
    color: #FFFFFF;
    background-color: #985ACA;
    padding: 10px 5px; 
    border-radius: 10px;
    position: relative;
    margin: 10px 10px 10px 10px;    
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;

}

.navBar {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 5px;
}
.navBar :hover {
    text-decoration: solid 3px underline;
    text-decoration-color: #A465D6;
}

.months {
    margin: 4px, 4px;
    padding: 4px;
    width: 300px;
    overflow: auto;
    white-space: nowrap;
    
}