body {
    background-color: #FFFFFF; 
    min-width: 390px;
    max-width: 960px;
    position: relative;
    margin: auto;


}

.container {
    text-align: center;
    width: 50%;
    margin: auto;
    border: solid 1px black;
    padding: 10px;
}

.title {
    font-weight: bold;
    text-align: left;
}

.date {
    text-align: left;
}

.description {
    color: black;
    text-align: left;
}

.e-month {
    text-align: left;
    font-size: 35px;
}

#topText {
    font-weight: bolder;
    color: #4B0A80;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    position: absolute;
    text-align: left;
    border-width: 5px 0 0 5px;
}


.RSVP {
    color: #FFFFFF;
    background-color: #985ACA;
    padding: 10px 5px; 
    border-radius: 10px;
    position: relative;
    margin: 10px 10px 10px 10px;    
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;

}

.navBar {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 5px;
}
.navBar :hover {
    text-decoration: solid 3px underline;
    text-decoration-color: #A465D6;
}


#mail,
#mail::after {
    display: inline-flex;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid;
    color: purple;
    /* outline: 6px solid #4B0A80; */
}
#mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 19px;
    border-radius: 2px
}
#mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 5px;
    left: 0;
    color: white;
    outline: 2px solid #4B0A80;
} 

.subBar {
    color: #FFFFFF;
    background-color: #4C0A81;
    padding: 12px 10em; 
    border-radius: 10px;
    position: relative;
    margin: 10px 10px 10px 10px;    
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 32em;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;

}


/* .months {
    margin: 4px, 4px;
    padding: 4px;
    width: 300px;
    overflow: auto;
    white-space: nowrap;    
} */

/* Horizontal Navbar */

